<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>CookyBook - Homepage</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
			 <label>
				<p>Willkommen bei CookyBook!</p>
				<p>Dein digitales Kochbuch :)</p>
				<p>made by Alexander Vogt, Tom Jäger, Jannik Baumgarten und Viktor Jegel</p>
			</label>     
        </LayoutView>
    </NotFound>
</Router>
