@page "/cookbookoverview"

@using CookyBook.Shared
@using CookyBook.Shared.DataTransferObjects
@inject HttpClient Http

<PageTitle>CookBook</PageTitle>

<h1>CookBook</h1>

@if (cookRecipes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Id</th>
                <th>Name</th>
                <th>Short Description</th>
                <th>Time</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var recipe in cookRecipes)
            {
                <tr>
                    <td><input type="checkbox" value="@recipe.Selected" /></td>
                    <td>@recipe.Id</td>
                    <td>@recipe.Name</td>
                    <td>@recipe.ShortDescription</td>
                    <td>@recipe.Time</td>
                    <td><input type="button" value="Edit"></td>
                    <td><input type="button" value="Delete"></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private CookRecipeDto[]? cookRecipes;

    protected override async Task OnInitializedAsync()
    {
        cookRecipes = await Http.GetFromJsonAsync<CookRecipeDto[]>("CookRecipe");
    }
}
